// How to launch? Run macro.C using this filename as the only parameter.
// The histograms will be retreived from the file indicated in the corresponding lines.
// Then, a Gaussian (G)/double gaussian (D) can be fitted within the corresponding regions of interest. The background fitted can contain a step function (1) or not (0)
// Do not, under any circumstance, remove the brackets in this file nor add aditional lines (except where indicated)

================================
>Filename: [Histograms.root]
>Number_of_entries: [8] (number of peaks)
================================
// Each histogram corresponds to a line.
>0- "histogram name","Title", [regions]
>1- "run60.root" "Na22" [G1,600,830] [G1,1650,1950] [G1,2300,2650]
>2- "run62.root" "Cs137" [G1,800,1000]
>3- "run61.root" "Co60" [D1,1500,1800,2100] [G0,3300,3650]
>4- "run59.root" "Mn54" [G1,1050,1300]
================================
// Here goes the settings of the X axis
>X_axis_title: [Energy (keV)]
>X_values_(N values): [511.0,  1274.537, 1785.537, 661.657, 1173.228, 1332.492,  2505.72  , 834.848]
>X_values_uncertainty: [  0.0,    0.007,     0.007,   0.003,    0.003,    0.004,     0.007,    0.003]
================================
The results can be fitted to a function of the form f(x) = a x^2 + b x + c.
The values a,b,c can be fixed. Write the corresponding value in brackets.
Do you want to? (y/n) = [y]
(a,b,c) = [0,-,0]

================================
Additionally, you can save the corresponding results to a new root file:
Output filename: ["Results.root"]
Option: ["UPDATE"] ("UPDATE, "RECREATE", etc.)


